<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<script src="{{ url_for('static', filename='script.js') }}"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
            </head>

        <body>

                <h1>Email List </h1>
                <div class="emailList" >
                <ul>
                <li>randomemail1@example.com</li>
                <li>user4321@mailservice.net</li>
                <li>john.doe87@gmail.com</li>
                <ul>
                </div>

                <div class="inputDiv">
                <input class="inputBox" placeholder= "enter your email"></input>
                <button class="addButton">Click to Add</button>
                </div>
    </body>
</html>
