<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script>const refreshPage = () => location.reload()</script>       <!--this is JavaScript code, which can be placed in a <script> tag-->
    </head>
    <body>
                <p>Hello World! Again</p>
                <br>
        <!--This is where your additional code goes comment goes-->
        <button onclick="refreshPage()" style="color: white; background-color:grey">See Changes</button>    <!--this button fires the function defined above-->
           <br>
<b>This is bolded!</b>
                <br>
                <h1>Below is an image</h1>
            <br>
                <p>Changes I made to this image</p>
                <ul>
                <li>I resized it</li>
                

                </ul>
                <img src="https://learnthaifromawhiteguy.com/how-to-say-hello-in-thai/hello/"  width="300"> <br>

                <marquee>This text moves</marquee>
            <a href="https://www.youtube.com/watch?v=YQHsXMglC9A">Music Video: Hello by Adele</a>
                <br> 



                </body>
</html>
